@import url("https://fonts.cdnfonts.com/css/minion-pro");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Lithops";
    src: url("assets/fonts/Lithops-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/Ronzino-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Ronzino";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("assets/fonts/Ronzino-Bold.woff2") format("woff2");
}

@theme {
    --font-display: "Lithops";
    --font-sans: "Ronzino";
    --font-serif: "Minion Pro", serif;
}

#root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map-container {
    height: 700px;
    width: 100%;
    /* temporarily set the background color so we can tell where the map container is positioned */
    background-color: lightgrey;
}

.intro-title {
    font-family: "Lithops", serif;
}
